<ul>
    <li><a href="http://localhost:8080/api/products">Productos</a></li>
    <li><a href="http://localhost:8080/api/cart">🛒</a></li>
    <li>Mi perfil</li>
</ul>
<h1>Tu perfil:</h1>
<p>Nombre: {{ userData.first_name }}</p>
<p>Email: {{userData.email}}</p>
<p>Rol: {{userData.role}}</p>
<br>
<h3>(Datos obtenidos de GitHub, la edad no estaba y el apellido no existe ya que GitHub solo usa un nombre)</h3>